.jumbotron {
  background-color: #fbff96;
  color: #262626;
  margin-top: 40px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #fbff96;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  padding: 0px 0px 0px 0px;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 10px;
}
.card-botton {
  width: 100%;
}
.footer-icon {
  padding-right: 10px;
}
.btn-reserva {
  padding-right: 10px;
}
.img-corousel1 {
  height: 200px;
}
.img-corousel2 {
  height: 400px;
}
.cd {
  height: 300px;
}
.fade {
  padding-top: 10px;
}
