$yellow: #fcf5a7;
$black: #262626;
$red: red;
$green: green;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom
}

.jumbotron {
    background-color: $yellow;
    color: $black;
    @include margenes(40px,0px);
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: $yellow;
    @include margenes(10px,0px);
}

.card-hotel {
    flex: 1 150px;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;
    @include margenes(15px,0px);
    margin-right: 10px;
}

.card-botton {
    width: 100%;
}

.footer-icon {
    padding-right: 10px;
}

.btn-reserva {
    padding-right: 10px;
    color: $red;
}

.btn-primary {
    color: $green;
    background: $black;
}

.img-corousel1 {
    height: 200px;
}

.img-corousel2 {
    height: 400px;
}

.cd {
    height: 300px;
}

.fade {
    padding-top: 10px;
}